@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  width: 100%;
  margin: 0px;
  padding: 14px;
  box-sizing: border-box;
  caret-color: transparent;
}
.page-container {
  background-color: #fbf4fd;
  border-radius: 16px;
  height: 100%;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.calculation-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/* ">" this operator for   */
.calculation-section-container > h1 {
  font-family: "poppins";
  font-size: 40px;
}
.bg-circle {
  background-color: #f5eaf9;
  border-radius: 100%;
  padding: 0px 123px;
  margin-left: 30px;
}

.container {
  border-radius: 33px;
  border: 10px solid #e2e2e2;
  background-color: #ffffff;
  padding: 40px;
}

.display {
  width: 100%;
  height: 147px;
  box-sizing: border-box;
  background: #f3f2f2;
  border-radius: 20px;
  border: none;
  margin-bottom: 40px;
  flex-shrink: 0;
  position: relative;
}

.primary-input {
  position: absolute;
  right: 16px;
  bottom: 20px;
  font-size: 40px;
  box-sizing: border-box;
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: right;
  font-weight: 600;
  color: #000;
  font-style: "Jost";
}

.secondary-input {
  position: absolute;
  right: 16px;
  top: 20px;
  font-size: 30px;
  box-sizing: border-box;
  width: 90%;
  border: none;
  outline: none;
  text-align: right;
  font-style: Jost;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 12px;
  margin-top: 12px;
}

.btn {
  height: 90px;
  width: 90px;
  border-radius: 20px;
  border: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: Jost;
  cursor: pointer;
  font-weight: 700;
}

.equal-btn {
  height: 90px;
  width: 90px;
  border-radius: 20px;
  border: none;
  font-size: 30px;
  cursor: pointer;
  background-color: #ffc138;
  color: #8c5a00;
}

.btn-primary {
  background-color: #fceebd;
  color: #bd882a;
}

.btn-expanded {
  grid-column: span 2;
  width: 100%;
}
.copyright-text {
  font-family: "poppins";
}
